<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>关于我 | i夋夋爬上云端</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT,生活,峻仔,程序猿,springboot,java,后端，关于我">
    <meta name="description" content="high起来">

    <link rel="icon" type="image/x-icon" href="https://i.loli.net/2020/05/03/C2tE4jivuhbAw8I.jpg">
    <link rel="stylesheet" type="text/css" href="css/aboutmetimeline.css">
    <link href="https://lib.baomitu.com/lightgallery/1.6.12/css/lightgallery.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/aboutme.css">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>

</head>
<body>
<div id="app">
    <!--引入共有头部-->
    <div th:replace="header :: header"></div>
    <!--页面主体-->
    <div id="main">
        <div class="am-container">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-lg-12">
                    <div id="wordsView">
                        <div class="title">
                            <div class="title-words">
                                <h1 class="title-words-h1">关于我</h1>
                            </div>

                            <div class="title-img">
                                <p>
                                    <img src="http://i7unoss.top/xiaoxin.gif" data-src="http://i7unoss.top/me/xiao.png" class="enlargePicture am-img-thumbnail am-radius">
                                </p>
                            </div>
                        </div>
                        <div class="zj-my-words"  data-am-scrollspy="{animation: 'scale-down'}">
                            <p><i class="am-icon-quote-left " style="float: left"></i></p><br>
                            <div class="zj-info">
                                <p class="zj-info-words">
                                    1993年11月5日一个注定要给这个世界带了一丝影响的人出生了（当然我说的就是我），虽然出生在农村，但是我家也算是个文化人儿家庭，自小也受到对于农村来说还算不错的教育教养。</p><br>
                                <p class="zj-info-words2">在我的印象中，自我上学起 我都是同学眼中的学霸，直到高考 我都是年级的前几名（初中的时候一直都是年级组第一 NO.1 一点都不吹牛逼）更气人的是 我当时都没怎么努力 就上课听听讲 然后下课该玩玩 （别打我 这点也没吹牛逼。</p><br>
                                <p class="zj-info-words">但是，也是村里的孩子 没见过什么世面 ，那时候的我 就以为我已经很厉害了，一副洋洋得意的样子。直到高考完，我才知道我是多么的幼稚，就是一个活脱脱的井底之蛙，才知道人外有人天外有天（这应该是也是我们需要奋斗的理由之一吧 -- 让自己的孩子见更宽阔的世面，让他们有更好的教育资源）</p><br>
                                <p class="zj-info-words2">嘲讽的是 上学的时候不喜欢学习，不主动学习，但是最近两年竟然很想学习(￣ェ￣;) 起初我还觉得很诧异，觉得很神奇，莫名其妙。后来想想 大概也知道为什么想学习了，答案很简单，就一个字  -- 穷</p><br>
                                <p class="zj-info-words">而这个博客 也就应运而生了</p>
                            </div>
                            <p><i class="am-icon-quote-right " style="float: right"></i></p><br><hr>
                        </div>
                        <div class="zj-hobby">
                            <blockquote style="padding: 10px 18px">
                                兴趣爱好
                                <ul>
                                    <li>喜欢编程：以前编程为了饭，现在编程为了fancy</li>
                                    <li>喜欢笑：哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</li>
                                    <li>喜欢皮：常年混迹于各种段子社区，有趣的人到哪里都会有趣；</li>
                                    <li>有时喜欢热闹有时喜欢独处：可能现在的年轻人都这样吧；</li>
                                    <li>喜欢动漫：海贼王 火影 秦时明月 不良人 蜡笔小新... 就是这么二次元；</li>
                                    <li><s>喜欢臭美：</s>以前很喜欢臭美，现在不被嫌弃就好 过了臭美的年纪了</li>
                                    <li>爱老婆：为什么努力 为了和老婆更好的生活；</li>
                                </ul>
                            </blockquote>
                            <span style="font-size: 14px;color: #555;">我就是这样的我，不求伟大，却又不甘于平凡，</span>
                        </div>
                        <br><br><hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
                        <div class="zj-life">
                            <div style="text-align: right;margin: 30px auto">
                                <i class="am-icon-arrows am-icon-spin"></i>
                                <i class="am-icon-arrows am-icon-spin" style="margin-left: 60px"></i><br>
                            </div>
                            <div class="zj-you">
                                <img src="http://i7unoss.top/xiaoxin.gif" data-src="http://i7unoss.top/y.jpg" class="enlargePicture am-img-thumbnail">
                            </div>
                            <p></p>
                        </div>

                    </div>
                    <div class="comment">
                        <div class="comment-top">
                            <div class="comment-top-input" th:if="${#httpServletRequest.remoteUser}">
                                <textarea id="comment" placeholder="客官，来说两句吧..."></textarea>
                            </div>
                            <div class="comment-top-input" th:unless="${#httpServletRequest.remoteUser}">
                                <div class="goToLogin">
                                    &nbsp;&nbsp;&nbsp;<a id="toLogin">登录</a>后才可以发表留言呦...
                                </div>
                            </div>
                            <div class="commentBtn">
                                <button id="commentBtn" type="button" class="am-btn am-btn-secondary">发表留言</button>
                            </div>
                        </div>
                        <!--页面留言-->
                        <div class="comment-bottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--引入共有底部-->
    <div th:replace="footer :: footer"></div>

    <!--消息盒子+反馈-->
    <div th:replace="other :: other"></div>
</div>

<script src="js/all.js"></script>
<script src="js/leaveMessage.js"></script>
<!--放大图片插件-->
<script src="js/lightgallery/lightgallery.js"></script>
<script src="js/lightgallery/picturefill.min.js"></script>
<script src="js/lightgallery/lg-pager.js"></script>
<script src="js/lightgallery/lg-autoplay.js"></script>
<script src="js/lightgallery/lg-fullscreen.js"></script>
<script src="js/lightgallery/lg-zoom.js"></script>
<script>
    lightGallery(document.getElementById('wordsView'));
</script>
</body>
</html>