<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎啊老铁 | i夋夋爬上云端</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT,生活,峻仔,程序猿,springboot,java,后端">
    <meta name="description" content="high起来">

    <link rel="icon" type="image/x-icon" href="http://i7unoss.top/1.png">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/indexresume.css">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="all">
    <canvas class="rain" style="position: fixed"></canvas>
    <div class="wordw" style="color: white;font-size: 28px;" >
        <h3>少侠 我这有份简历 要不要看看</h3>
    </div>
    <!--<div class="header" style="color: #ddeeee;">-->
        <!--<h1 class="vintage4"> 想看简历?</h1>-->
    <!--</div>-->
    <div class="main">
        <div class="heart">
            <div class='topLeft'></div>
            <div class='topRight'></div>
            <div class='bottom'></div>
        </div>
        <div class="chooseBtn">
            <button type="button" class="yesterday am-btn am-btn-danger am-btn-xl">
                <i  style="margin-right: 5px"></i>
                少废话 简历拿来
            </button>
            <button type="button" class="today am-btn am-btn-warning am-btn-xl">
                <i  style="margin-right: 5px"></i>
                别臭美了 不想看
            </button>
        </div>
    </div>
</div>

<script src="js/rain.js"></script>
<script src="js/indexresume.js"></script>
</body>
</html>