<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.i7un.springboot.mapper.LeaveMessageMapper">
    <select id="findAllLeaveMessage" resultType="top.i7un.springboot.model.LeaveMessage">
        select * from leave_message_record
        <where>
            <if test="pageName != null">
                pageName=#{pageName}
            </if>
                and pId=#{pId}
        </where>
        order by id desc
    </select>

    <select id="findLeaveMessageReplyByPageNameAndPid" resultType="top.i7un.springboot.model.LeaveMessage">
        select id,answererId,respondentId,leaveMessageDate,leaveMessageContent from leave_message_record
        <where>
            <if test="pageName != null">
                pageName=#{pageName}
            </if>
                and pId=#{pId}
        </where>
    </select>
</mapper>