<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.i7un.springboot.mapper.LeaveMessageLikesRecordMapper">
    <select id="isLiked" resultType="top.i7un.springboot.model.LeaveMessageLikesRecord">
        select likeDate from leave_message_likes_record
         <where>
            <if test="pageName != null">
                pageName=#{pageName}
            </if>
            and pid = #{pId}
            and likerId=#{likerId}
        </where>
        order by id desc
    </select>
</mapper>